@CHARSET "UTF-8";
#all{

	width:1000px;
	margin:0 auto;
	position:relative;
}
#info{
		font-size:20px;
		color:#5F5F5F;
		border-spacing:0px 10px;
		position:absolute;
		left:0px;
		top:20px;
}
#table1{
	height:450px;
	border-color:000000;
	border-left-style:solid;
	border-width:1px;
	position:absolute;
	left:200px;
	top:10px;
}
#history,#history tr,#history td,th{
	border:1px solid #636363;
	text-align:center;
}
#history{
	width:650px;
	position:absolute;
	left:320px;
	top:10px;
}
#history caption{
	border:1px double #636363;
	text-align:center;
}
#page{
	position:relative;
	left:670px;
	display:inline;
	top:450px;
}
#update {
	display:;
	position: absolute;
	top: 30%;
	width: 360px;
	height: 115px;
	background-color: #ccc;
	width: 260px;
	z-index: 10;
}

#closeLogin {
	position: absolute;
	right: 10px;
	top: 7px;
}

#back1 {
	POSITION: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 152, 50, 0.8);
	filter: alpha(opacity = 80);
	z-index: 5;