@CHARSET "UTF-8";
#all{

	width:1000px;
	margin:0 auto;
	position:relative;
}
#info{
		font-size:20px;
		color:#5F5F5F;
		border-spacing:0px 10px;
		position:absolute;
		left:0px;
		top:20px;
}
#table1{
	height:450px;
	border-color:000000;
	border-left-style:solid;
	border-width:1px;
	position:absolute;
	left:200px;
	top:10px;
}
#history,#history tr,#history td,th{
	border:1px solid #636363;
	text-align:center;
}
#history{
	width:600px;
	position:absolute;
	left:360px;
	top:100px;
}
#history caption{
	border:1px double #636363;
	text-align:center;
}